<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace - 인터페이스에 있는 패키지 명 + 인터페이스 명 -->
<mapper namespace="com.hell.member.dao.AdminDaoInterface">
   <insert id="insertAdmin"
      parameterType="adminVO">
      <!-- useGeneratedKeys="true" keyColumn="adminId" -->
      
      insert into admin (adminid, adminname, adminpw)
      values (#{adminId}, #{adminName}, #{adminPw})
   
   </insert>
   
   <select id="loginAdmin" resultType="AdminVO">
   
   		select * from admin where adminid=#{userId}
   
   </select>
   
   <select id="getUserList" resultType="UserVO">
   
   		select * from user
   
   </select>
   
   <!-- 아이디 중복 검사 -->
	<select id="checkAdminId" parameterType="adminVO" resultType="adminVO">
	
		select count(*) from admin where adminid = #{adminId}
	
	</select>
	
	<select id="getOrderList" resultType="orderVO" >
		
		select * from orders
	
	</select>
	
	<select id="getOrderFoodList" resultType="foodVO">
		
		select * from food where foodid = #{orderFoodId}
	
	</select>
	
	<delete id="deleteOrderList" parameterType="int">
		delete from orders where comid = #{comId}
		
	</delete>
	
</mapper>