<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace = 인터페이스 있는 패키지명 + 인터페이스 명 -->
<mapper
	namespace="com.hell.member.dao.UserTimeDaoInterface">


	<update id="UTimeChargeDao" parameterType="utimeVO">
		update utime set
		userId=#{userId},
		usertime=#{userTime},
		starttime=#{startTime},
		endtime=#{endTime}
		where
		comid=#{comId}
	</update>

	<update id="UserChargeDao" parameterType="userVO">
		update user set
		usertime=#{userTime}
		where
		userId=#{userId}
	</update>

	<select id="getUTimeListDao" resultType="utimeVO">
		select * from utime
	</select>

	<select id="getUTimeDao" resultType="utimeVO">
		select userId, starttime,
		userTime
		from utime
		where comid=#{comId}
	</select>

	<select id="getUTimeDaoUserId" resultType="utimeVO">
		select *
		from utime
		where userId=#{userId}
	</select>

	<update id="endTime" parameterType="userVO">
		update user set
		usertime=#{userTime}
		where
		userId=#{userId}
	</update>

	<update id="reset" parameterType="utimeVO">
		update utime set
		userId=NULL,
		usertime=NULL,
		starttime=NULL,
		endtime=NULL
		where
		comid=#{comId}
	</update>


</mapper>