<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.ms.dao.UserDaoInterface">
	
	<select id="getTime" resultType="long">
		select user_time from userinfo
		where user_id=#{user_id}
	</select>
	
	<update id="addTime" parameterType="map">
		update userinfo set user_time=#{param1} 
		where user_id=#{param2}
	</update>
	
	<update id="updateSeat" parameterType="map">
		update seat set seat_update_time=#{param1}, user_id=#{param2} 
		where seat_id=#{param3}
	</update>
	
	<select id="getSeatInfo" resultType="seatVO">
		select * from seat;
	</select>
	
	<select id="isUsingSeat" resultType="seatVO">
		select * from seat 
		where user_id=#{user_id}
	</select>
	
</mapper>