<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace - 인터페이스에 있는 패키지 명 + 인터페이스 명 -->
<mapper namespace="com.bit.ms.dao.AdminDaoInterface">

	<!-- Admin 회원가입 -->
	<insert id="regAdmin" parameterType="AdminVO">
		insert into admininfo(admin_id, admin_pw, admin_name, admin_phone)
		values (#{admin_id}, #{admin_pw}, #{admin_name}, #{admin_phone})
	</insert>

	<!-- Admin 아이디 중복 검사 -->
	<select id="checkOverId" parameterType="String" resultType="int">
		select count(*) from admininfo 
		where admin_id = #{admin_id}
	</select>

	<!-- Admin 로그인 -->
	<select id="loginAdmin" resultType="adminVO">
		select * from admininfo 
		where admin_id = #{admin_id}
	</select>

	<!--관리자 정보가져오기 -->
	<select id="getAdminMyage" resultType="adminVO">
		select * from admininfo
		where admin_id = #{admin_id}
	</select>

	<!--관리자가 갖고있는 매장정보 가져오기 -->
	<select id="getStore" resultType="storeVO">
		select * from store 
		where admin_id = #{admin_id}
	</select>
	
	<!-- 매장 정보 가져오기(option값 필요) -->
   <select id="getStoreList" resultType="StoreVO">
		select * from store
   </select>
	
	<!--해당 매장에대한 상세정보 -->
	<select id="getStoreDetail" resultType="StoreVO">
		select * from store where
		store_id = #{store_id}
	</select>

	<!--관리자 수정하기 -->
	<update id="editAdmin" parameterType="AdminVO">
		update admininfo 
		set	admin_pw = #{admin_pw}, admin_name = #{admin_name}, admin_phone = #{admin_phone}, admin_birth = #{admin_birth}
		where admin_id = #{admin_id}
	</update>

	<!-- 관리자 삭제하기 -->
	<delete id="deleteAdmin">
		delete from admininfo where admin_id = #{admin_id}
	</delete>

	<!--매장 추가 -->
	<insert id="addStore" parameterType="StoreVO">
		insert into store(store_name, store_address, store_num, admin_id)
		values (#{store_name}, #{store_address}, #{store_num}, #{admin_id})
	</insert>

	<!--매장 삭제 -->
	<delete id="deleteStore">
		delete from store
		where store_id = #{store_id}
	</delete>

	<!-- 회원리스트 출력 -->
	<select id="getUserList" parameterType="int" resultType="userVO">
		select * from userinfo where store_id = #{store_id}
	</select>
	
	<!-- 회원리스트 sorting -->
	<select id="sortingUserList" parameterType="userListVO" resultType="userVO">
		select * from userinfo where store_id = #{store_id} order by ${sortName} ${orderBy}
	</select>
		
	<!-- 관리자 아이디로 자신의 스토어전체 검색 -->
	<select id="getStoreName" parameterType="String" resultType="storeVO">
		select * from store where admin_id = #{admin_id}
	</select>
	
</mapper>