<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.ms.dao.AdminDaoInterface">

	<insert id="insertNotice" parameterType="noticeVO"
		useGeneratedKeys="true" keyProperty="notice_id">

		insert into noticeboard(notice_title, notice_con, admin_id, store_id) 
		values (#{notice_title}, #{notice_con}, #{admin_id}, #{store_id})

	</insert>

	<select id="pageCount" resultType="int">
	
		select count(*) from noticeboard;
	
	</select>

	<select id="selectList" parameterType="map" resultType="noticeVO">
	
		select * from noticeboard order by notice_id desc limit #{firstRow}, 10
	
	</select>
	
	<select id="selectView" resultType="noticeVO">

	select * from noticeboard where notice_id=#{notice_id}

	</select>
	
	<delete id="deleteNotice" parameterType="int">
	
		delete from noticeboard where notice_id=#{notice_id}
	
	</delete>
	
	<update id="updateNotice" parameterType="noticeVO">
	
		update noticeboard set notice_title=#{notice_title}, notice_con=#{notice_con} 
		where notice_id=#{notice_id};
	
	</update>
</mapper>