<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.ms.member.dao.MemberNoticeDaoInterface">

	<insert id="insertNotice" parameterType="noticeVO"
		useGeneratedKeys="true" keyProperty="notice_id">

		insert into noticeboard(notice_title,notice_con) 
		values (#{noticeTitle}, #{noticeCon})

	</insert>

	<select id="pageCount" resultType="int">
	
		select count(*) from noticeboard;
	
	</select>

	<select id="selectList" parameterType="map" resultType="noticeVO">
	
		select * from noticeboard order by notice_id desc limit #{firstRow}, 10
	
	</select>
	
	<select id="selectView" resultType="noticeVO">
	
		select * from noticeboard where notice_id=#{id}

	</select>
	
	<delete id="deleteNotice" parameterType="int">
	
		delete from noticeboard where notice_id=#{id}
	
	</delete>
	
	<update id="updateNotice" parameterType="noticeVO">
	
		update noticeboard set notice_title=#{noticeTitle}, notice_con=#{noticeCon} 
		where notice_id=#{noticeId};
	
	</update>
</mapper>