<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.ms.dao.MemberDaoInterface">
	<!-- 게시물 리스트 -->
	<select id="selectList" parameterType="map" resultType="photoVO">
		select * from photoboard where store_id = #{param1} order by photo_id desc limit #{param2}, 6;
	</select>
	<!-- 페이지 카운트 -->
	<select id="pageCount" resultType="int">
		select count(*) from photoboard where store_id=#{store_id}
	</select>
	<!-- 게시물 등록 -->
	<insert id="writePhotoI" parameterType="photoVO" useGeneratedKeys="true"
	keyProperty="photo_id">
		insert into photoboard(photo_title, photo_con, store_id, photo_upid, photo_file) values (#{photo_title}, #{photo_con}, #{store_id}, #{photo_upid}, #{photo_file}) 
	</insert>
	<select id="getPhotoViewI" resultType="photoVO">
		select * from photoboard where photo_id = #{photo_id}
	</select>
	<delete id="deletePhotoI">
		delete from photoboard where photo_id = #{photo_id} 
	</delete>
	<update id="modifyPhotoI" parameterType="hashmap">
		update photoboard set photo_title = #{photo_title}, photo_con = #{photo_con}, photo_file = #{photo_file} where photo_id = #{photo_id}
	</update>
	<insert id="writePhotoReplyI" parameterType="photoReplyVO">
		insert into photoboardreply (photoreply_con, photoreply_writeid, store_id, photo_id) values (#{photoreply_con}, #{photoreply_writeid}, #{store_id}, #{photo_id})
	</insert>
	<select id="getPhotoReplyListI" resultType="photoReplyVO">
		select * from photoboardreply where photo_id = #{photo_id}
	</select>
	<select id = "getCountReplyI" resultType="int">
		select count(*) from photoboardreply where photo_id = #{photo_id}
	</select>
	<update id="modiReplyI" parameterType="hashmap">
		update photoboardreply set photoreply_con = #{photoreply_con} where photoreply_id = #{photoreply_id}
	</update>
	<delete id="deleteReplyI">
		delete from photoboardreply where photoreply_id = #{photoreply_id}
	</delete>
	<update id = "updateCnt" parameterType="hashmap">
		update photoboard set photo_cnt = #{photo_cnt}, photo_date = #{photo_date} where photo_id = #{photo_id}
	</update>
</mapper>