<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.bit.ms.dao.AdminDaoInterface">
 
 	<select id="listAll" resultType="salesVO">
 		select sales_id, DATE_FORMAT(sales_day,'%Y%m%d') salesDate, DATE_FORMAT(sales_day,'%d') sales_day, sales_total, sales_food, sales_seat, store_id from sales;
 	</select>
 	
 	<select id="listSales" resultType="salesVO">
 		select sales_id, DATE_FORMAT(sales_day,'%Y%m%d') salesDate, DATE_FORMAT(sales_day,'%d') sales_day, sales_total, sales_food, sales_seat, store_id from sales where DATE_FORMAT(sales_day,'%d') = #{day} and store_id = #{storeId};
 	</select>
 	
	<!-- 내 정보 얻어오기 -->
	<select id="getStoreId" resultType="salesVO">
		select sales_id, DATE_FORMAT(sales_day,'%Y%m%d') salesDate, DATE_FORMAT(sales_day,'%d') sales_day, sales_total, sales_food, sales_seat, store_id from sales where DATE_FORMAT(sales_day,'%d') = #{day} and store_id = #{storeId};
	</select>
 	
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 