<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.ms.dao.UserDaoInterface">

	<select id="UserBoardSelectList" resultType="UserBoardVO">

		select * from
		userboard order
		by uboard_id desc limit #{firstRow}, 10;

	</select>

	<select id="UserBoardPageCount" resultType="int">

		select count(*) from userboard;

	</select>

	<insert id="insertUserBoard" parameterType="UserBoardVO"
		useGeneratedKeys="true" keyProperty="uboard_id">

		insert into
		userboard(uboard_title, uboard_con)
		values(#{uboard_title},
		#{uboard_con})

	</insert>

	<select id="getUserBoardViewI" resultType="UserBoardVO">

		select * from
		userboard where uboard_id=#{uboard_id};

	</select>


</mapper>