<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.ms.dao.UserDaoInterface">

	<select id="getUserBoardReplyListI"
		resultType="UserBoardReplyVO">

		select * from
		userreply where uboard_id = #{uboard_id} order
		by uboard_reply_id asc;

	</select>

</mapper>