@charset "UTF-8";

@font-face {
	font-family: BMHANNAPro;
	src: url("fonts/BMHANNAPro.woff");
}

@font-face {
	font-family: BMJUA;
	src: url("fonts/BMJUA.woff");
}

@font-face {
	font-family: BMDOHYEON;
	src: url("fonts/BMDOHYEON.woff");
}